<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/mail.png" />
    <title>Admin</title>
    <link rel="stylesheet" href="styles/admin.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>Admin Page</h1>
      <div class="card-container">
        <% if(contacts.length == 0){ %>
        <div>
          <h3>No Contacts found</h3>
        </div>
        <% }else{ %> <% contacts.forEach(contact => { %>
        <div class="card">
          <p>Name: <%= contact.fname %> <%= contact.lname %></p>
          <p>Job Title: <%= contact.job %></p>
          <p>Company: <%= contact.company %></p>
          <p>Linkedin: <%= contact.linkedin %></p>
          <p>Email: <%= contact.email %></p>
          <p>Date Sent: <%= contact.timeSubmitted %></p>
          <p>How we met: <%= contact.meet %></p>
          <p>Message: <%= contact.message %></p>
          <p>Mailing: <%= contact.mailing %></p>
          <p>Format: <%= contact.format %></p>
        </div>
        <% });%> <% } %>
      </div>
    </main>
  </body>
</html>
